@media screen and (min-width:1120px){
    header {
        position: relative;
        height: 70vh;
    }

    header>h1 {
        position: absolute;
        bottom: 30px;
        left: 40px;
        font-size: 8vw;
        line-height: 9vw;
    }

    h3 {
        font-size: 3.5vw;
    }

    #chamada>h2 {
        font-size: 4vw;
        max-width: 600px;
    }

    #o-que-e {
        padding: 50px 40px;
        columns: 2;
        font-size: 18px;
    }

    #o-que-e>p {
        text-align: left;
    }

    #itens {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #itens>h3 {
        margin-bottom: 30px;
        font-weight: 400;
        width: 1800px;
    }

    #title-sc {
        font-size: 70px;
        margin: 30px;
    }

    #text-sc {
        font-size: 24px;
    }

    .produtos>img {
        width: 24vw;
    }

    #showcase {
        height: 400px;
    }

    #imgs-showcase>img {
        display: inline-block;
        width: 30vw;
        padding: 35px 0;
    }

    footer {
        padding: 60px;
    }
}